{% extends 'base.html' %}
{% block title %}Upload Video - Video Portal{% endblock %}

{% block content %}
<div class="welcome-box">
  <h2>Upload Your Video</h2>
  <form method="POST" enctype="multipart/form-data" class="login-form">
    <input type="text" name="title" placeholder="Title" required><br>
    <textarea name="description" placeholder="Description" required></textarea><br>
    <input type="file" name="video" accept="video/*" required><br>
    <input type="submit" value="Upload">
  </form>
</div>
{% endblock %}
